body {
  font-family: 'Gotham', sans-serif;
  margin: 0;
  padding: 0;
}

.logo {
  font-family: 'Bebas Neue', sans-serif;
  height: 72px;
  width: 72px;
  text-align: center;
  font-size: 27px;
  border: 2px solid black;
  border-radius: 50%;
  padding: 20px;
}

.container {
  display: flex;
}

.column {
  flex-direction: column;
}

header {
  justify-content: center;
}

header div {
  align-items: center;
}

.header-links {
  list-style: none;
  gap: 100px;
  margin-left: 25px;
}

.header-links a {
  text-decoration: none;
  color: black;
}

footer {
  border-top: 2px solid black;
  padding: 15px 25px;
}

.card-thumbnail {
  height: 80px;
  width: 80px;
  background-color: aqua;
}
